.button{
    border: 1px;
    border-radius: 5px;
    background-color: hsl(218, 37%, 23%);
    color: white;
    padding: 20px;
    text-decoration: none;
    margin: 0 auto;
}

.button:hover{
 background-color: hsl(218, 37%, 55%);
}