.section {
    display: flex;
    margin: 0 auto;
    padding:0 0 58px;
    align-items: center;
    width: calc(100% - 96px);
  }
  
  @media screen and (max-width: 1024px) {
    .section {
      width: calc(100% - 96px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .section {
      width: calc(100% - 48px);
    }
  }
  
  @media screen and (max-width: 425px) {
    .section {
      width: calc(100% - 32px);
    }
  }