.header__text{
    color: white;   
    margin: 0;
    padding:0;
    font-family: 'Lato-Black', Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 300px) {
    .header__text{
       font-size: 1rem;
    }
  }