
.header {
    display: flex;
    margin: 0 auto;
    padding: 20px 0 20px;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(218, 37%, 23%);
    width: 100%;
  }
  